# Read more about SSH config files: https://linux.die.net/man/5/ssh_config
Host luna-local-ubuntu
    HostName 192.168.1.108
    User root

Host luna-local-ubuntu-origin
    HostName 192.168.1.110
    User root

Host luna-local-centos
    HostName 192.168.1.124
    User root

Host luna-local-kali
    HostName 192.168.3.202      
    User root

Host luna-local-centos-origin
    HostName 192.168.1.111
    User root

Host luna-win-centos
    HostName 192.168.1.109
    User root

Host luna-win-ubuntu
    HostName 192.168.1.104
    User root

Host luna-ubuntu
    HostName f.xicc.cc
    Port 3925
    User root

Host luna-centos-xicc
    HostName f.xicc.cc
    Port 23411
    User root

Host exsi-ubuntu-xicc
    HostName f.xicc.cc
    Port 23401
    User root

Host exsi-ubuntu-sudiao
    HostName sh1.k9s.run
    Port 22313
    User root
